.header {
  position: fixed;
  top: 0;
  width: 100% !important;
  background-color: rgb(0, 102, 167) !important;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  z-index: 100;
}

.header__avatar {
  margin-left: 20px;
  height: auto !important;
  object-fit: contain;
}

.header__top {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.header__image {
  margin-left: 20px;
  flex: 0.2;
}

.header__button {
  color: #36b9a3;
  margin-left: 10px;
}

.header_right {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
  border-left: 1px solid lightcyan;
  flex: 0.7;
  font-size: 12px;
}

.header__menu {
  color: white;
  font-size: 30px !important;
}
.MuiAvatar-colorDefault {
  color: blue !important;
  background-color: white !important;
}

.header__name {
  margin-left: 10px;
  color: white;
}
.header__logo {
  height: 35px;
  width: 200px;
  object-fit: contain;
  align-items: center;
  background-color: lightgray !important;
  border-radius: 20px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 10px 70px;
  flex-wrap: wrap;
}

.header__nav {
  align-items: center;
  color: rgb(0, 102, 167) !important;
  font-size: small;
  font-weight: 700;
}

.header__hr {
  border: 2px solid white;
  box-shadow: 5px 2px 3px #eee;
}

.header__radio__text {
  color: white;
  align-items: center;
}
