* {
  margin: 0;
  padding: 0;
  
  
  }

  .app__page{
    margin-top:80px;
    display: flex;
    flex:1;
    background-color:#e6e6e6;
    height:100%;
   
  }

  .app__menucard{
    flex:.7;
    flex-wrap: wrap;
  }

  .app__widget{
    flex:.3;
    flex-wrap: wrap;
  }